/*html,body 
{
	font-size: 18px;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden;
	display: block;
}
#cc {
	top: 400px;
	width: 600px;
	height: 100px;
	margin: 0;
	overflow: auto;
}*/
html,body 
{
	width: 100%;
	height: 100%;
	margin: 0;
}
canvas 
{
	background: #CCC;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
